<template>
  <v-container grid-list-xl text-xs-center>
    <v-layout row wrap mt-5>
      <v-flex xs12 sm6 md4 v-for="(element,i) in elements" :key="i">
        <v-card>
          <v-card-media
            :src="element.img"
            height="200px"
          >
          </v-card-media>
          <v-card-title primary-title>
            <div class="centered">
              <div class="headline">{{ element.headline }}</div>
            </div>
          </v-card-title>
          <v-card-actions class="text-xs-center">
            <div class="centered">
              <v-spacer></v-spacer>
              <v-btn round primary dark @click="redirectionFn(element.redirection)">Preview</v-btn>
            </div>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  export default {
    data () {
      return {
        show: false,
        elements: [
          {
            img: '/static/preview-imgs/nate-grant-374649.jpg',
            headline: 'Vertical Navigation',
            redirection: ''
          },
          {
            img: '/static/preview-imgs/nate-grant-374649.jpg',
            headline: 'Vertical Navigation',
            redirection: ''
          },
          {
            img: '/static/preview-imgs/nate-grant-374649.jpg',
            headline: 'Vertical Navigation',
            redirection: ''
          }
        ]
      }
    },
    methods: {
      redirectionFn (args) {

      }
    }
  }
</script>
<style scoped>
  .centered {
    margin: 0 auto;
  }
</style>
