<template>
<v-container grid-list-xl text-xs-center>
  <v-layout row wrap mt-5>
    <v-flex xs12 sm6 md6 v-for="(feature,i) in features" :key="i">
      <img :src="feature.img" alt="">
      <div class="headline primary--text">{{ feature.headline }}</div>
      <p>{{ feature.description }}</p>
    </v-flex>
  </v-layout>
  <v-layout row wrap mt-5 cyan text-xs-left>
    <v-flex xs12 sm6 md4 v-for="(item,i) in items" :key="i">
      <div class="white--text"><v-icon dark left>add</v-icon> {{ item }}</div>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
  export default {
    data () {
      return {
        features: [
          {
            img: '/static/features/materialCSSLogo.png',
            headline: 'Materialcss Framework',
            description: `Materialize simplifies life for developers and the users they serve.It's a modern responsive front-end framework based on Material Design.`
          },
          {
            img: '/static/features/PugLogo.png',
            headline: 'PUG Template',
            description: `Pug (Formaly known as Jade) is a high performance template engine implemented with JavaScript for Node.js and browsers.`
          },
          {
            img: '/static/features/GulpLogo.png',
            headline: 'Gulp',
            description: `Gulp is a toolkit for automating painful or time-consuming tasks in your development workflow, so you can stop messing around and build something.`
          },
          {
            img: '/static/features/SassLogo.png',
            headline: 'SASS',
            description: `Sass is the most mature, stable, and powerful professional grade CSS extension language in the world. Well managed sass file to provide extensive style elements.`
          }
        ],
        items: [
          'Attractive Dashboard',
          'Multiple Menu Options',
          'Starter Kit for developers',
          'Well Documented',
          'Advance Card UI',
          'Customizable UI components & Options',
          'DataTables With Extended API',
          'Date & Time Pickers',
          'Fully Responsive Layouts',
          'DataTables With Extended API',
          'SASS Support',
          'Multiple Navbar Options',
          'Google Material Color Schemes',
          'Immensive Collection of Useful helper classes',
          'SCSS Mixins',
          'Pug Mixins',
          'Basic & Advance Form Inputs',
          'Customized Inputs',
          'Code Editors',
          '3 Chart Library',
          'Picker : date, time, color, location',
          'Clean & Commented Code',
          'Cross Browser Compatibility',
          'Many more pluings integrated'
        ]
      }
    }
  }
</script>
