<template>
  <v-card class="grey lighten-5" flat>
    <v-toolbar dark class="primary elevation-0 header-section" extended>
      <v-toolbar-title class="logo-title">Forge</v-toolbar-title>
      <v-container fluid slot="extension">
        <v-slide-y-transition mode="out-in">
          <v-layout column align-center>
            <img src="/static/v.png" alt="Vuetify.js" class="mb-5">
          </v-layout>
        </v-slide-y-transition>
      </v-container>
      <v-spacer></v-spacer>
      <v-btn flat>
        Purchase
      </v-btn>
    </v-toolbar>
    <v-layout column align-center>
      <v-flex>
        <v-card class="card--flex-toolbar">
          <v-toolbar card class="white" prominent>
            <!-- <v-toolbar-title class="body-2 grey--text">Title</v-toolbar-title> -->
            <!-- <v-spacer></v-spacer> -->
            <router-link to="/preview" tag="v-btn" class="btn--flat" active-class="active">
              Preview
            </router-link>

            <router-link to="/laravel-starter-kit" tag="v-btn" class="btn--flat" active-class="active">
              Laravel Starter Kit
            </router-link>

            <router-link to="/features" tag="v-btn" class="btn--flat" active-class="active">
              Features
            </router-link>

            <router-link to="/elements" tag="v-btn" class="btn--flat" active-class="active">
              Elements
            </router-link>

            <router-link to="/change-log" tag="v-btn" class="btn--flat" active-class="active">
              Change Log
            </router-link>
          </v-toolbar>
          <!-- <v-divider></v-divider> -->
          <!-- <v-card-text style="height: 200px;"></v-card-text> -->
        </v-card>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<style>
  .logo-title {
    font-size: 30px;
  }
  .card--flex-toolbar {
    margin-top: -32px;
  }
  .header-section {
    height: 300px;
  }
</style>
