<template>
  <v-container grid-list-xl>
    <v-layout row wrap mt-2>
      <v-flex xm12>
        <v-parallax src="/static/preview-imgs/landing.jpg">
          <v-layout column align-center justify-center>
            <h1 class="white--text">Vuetify.js</h1>
            <h4 class="white--text">Build your application today!</h4>
          </v-layout>
        </v-parallax>
      </v-flex>
    </v-layout>
    <!--  -->
    <v-layout row wrap mt-5>
      <v-flex xm12 sm4>
        <v-list two-line>
          <template v-for="item in laravelFeatures">
            <v-subheader v-if="item.header" v-text="item.header"></v-subheader>
            <!-- <v-divider v-else-if="item.divider" v-bind:inset="item.inset"></v-divider> -->
            <v-list-tile avatar v-else v-bind:key="item.title" @click="readFeature(item)" download>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-flex>
      <v-flex xm12 sm8>
        <v-container fill-height>
          <v-layout row wrap align-center>
            <v-flex class="text-xs-center" v-html="selected.subtitle">
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <!--  -->
    <v-layout row wrap mt-5>
      <h2>Screen Shots</h2>
      <v-carousel hide-controls>
        <v-carousel-item v-for="(item,i) in previewImgs" v-bind:src="item.src" :key="i">
        </v-carousel-item>
      </v-carousel>
    </v-layout>
  </v-container>
</template>
<script>
  export default {
    data () {
      return {
        previewImgs: [
          {
            src: '/static/preview-imgs/nate-grant-374649.jpg'
          },
          {
            src: '/static/preview-imgs/nate-grant-374649.jpg'
          },
          {
            src: '/static/preview-imgs/nate-grant-374649.jpg'
          },
          {
            src: '/static/preview-imgs/nate-grant-374649.jpg'
          }
        ],
        laravelFeatures: [
          { header: `What's there in starter kit?` },
          {
            title: 'VueJS Buit-in',
            subtitle: "<span class='grey--text text--darken-2'>Ali Connors</span> — I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
          },
          {
            title: 'Multi-Authentication',
            subtitle: "<span class='grey--text text--darken-2'>to Alex, Scott, Jennifer</span> — Wish I could come, but I'm out of town this weekend." },
          {
            title: 'Module Setup',
            subtitle: "<span class='grey--text text--darken-2'>Sandra Adams</span> — Do you have Paris recommendations? Have you ever been?"
          },
          {
            title: 'Roles Manager',
            subtitle: "<span class='grey--text text--darken-2'>Sandra Adams</span> — Do you have Paris recommendations? Have you ever been?"
          },
          {
            title: 'Permission Manager',
            subtitle: "<span class='grey--text text--darken-2'>Sandra Adams</span> — Do you have Paris recommendations? Have you ever been?"
          },
          {
            title: 'Transformer & Helpers',
            subtitle: "<span class='grey--text text--darken-2'>Sandra Adams</span> — Do you have Paris recommendations? Have you ever been?"
          }
        ],
        selected: {
          title: 'VueJS Buit-in',
          subtitle: "<span class='grey--text text--darken-2'>Ali Connors</span> — I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
        }
      }
    },
    methods: {
      readFeature (item) {
        this.selected = item
      }
    }
  }
</script>


