<template>
  <v-container grid-list-xl text-xs-center>
    <v-layout row wrap mt-5>
      <v-flex xs12 sm6 md6 v-for="(item, i) in demoList" :key="i">
        <v-card>
          <v-card-media
            :src="item.img"
            height="200px"
          >
          </v-card-media>
          <v-card-title primary-title>
            <div>
              <div class="headline">{{ item.headline }}</div>
              <span class="grey--text">{{ item.subHeading }} </span>
            </div>
          </v-card-title>
          <v-card-actions>
            <div class="text-xs-center">
              <v-btn round primary dark @click="redirectionFn(item.redirection)">Preview</v-btn>
            </div>
            <v-spacer></v-spacer>
            <v-btn icon @click.native="show = !show">
              <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-slide-y-transition>
            <v-card-text v-show="show">{{ item.description }}</v-card-text>
          </v-slide-y-transition>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  export default {
    data () {
      return {
        show: false,
        demoList: [
          {
            img: '/static/preview-imgs/nate-grant-374649.jpg',
            headline: 'Vertical Navigation',
            subHeading: 'Subcategory: Default',
            redirection: '',
            description: `I am vertical default navigation. My width is 300px. I am dark, but I can my color with light. Of-course, I have multi-level submenus.`
          },
          {
            img: '/static/preview-imgs/nate-grant-374649.jpg',
            headline: 'Vertical Navigation',
            subHeading: 'Subcategory: Default',
            redirection: '',
            description: `I am vertical default navigation. My width is 300px. I am dark, but I can my color with light. Of-course, I have multi-level submenus.`
          },
          {
            img: '/static/preview-imgs/nate-grant-374649.jpg',
            headline: 'Vertical Navigation',
            subHeading: 'Subcategory: Default',
            redirection: '',
            description: `I am vertical default navigation. My width is 300px. I am dark, but I can my color with light. Of-course, I have multi-level submenus.`
          },
          {
            img: '/static/preview-imgs/nate-grant-374649.jpg',
            headline: 'Vertical Navigation',
            subHeading: 'Subcategory: Default',
            redirection: '',
            description: `I am vertical default navigation. My width is 300px. I am dark, but I can my color with light. Of-course, I have multi-level submenus.`
          }
        ]
      }
    },
    methods: {
      redirectionFn (args) {

      }
    }
  }
</script>
