<template>
  <v-app id="full-page-layout">
    <main>
      <app-header></app-header>
      <router-view></router-view>
    </main>
  </v-app>
</template>
<script>
import Header from './components/Header.vue'

export default {
  name: 'app',
  components: {
    appHeader: Header
  }
}
</script>
